*.iml
.gradle
/local.properties
# idea files: exclude everything except dictionnaries
.idea/caches
.idea/copilot
.idea/libraries
.idea/inspectionProfiles
.idea/sonarlint
.idea/*.xml
.DS_Store
/build
/benchmark-out
/captures
.externalNativeBuild
rust-sdk/target/*
rust-sdk/src/uniffi/*
Cargo.lock

/tmp
/fastlane/private
/fastlane/report.xml

/**/build

# Added by yarn
/package.json
/yarn.lock
/node_modules
**/out/failures

# For manual dependency to rust crypto sdk
library/rustCrypto/matrix-rust-sdk-crypto.aar
