<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="im.vector.riotx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To be able to delete RiotX -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <!-- Adding CAMERA permission prevents Chromebooks to see the application on the PlayStore -->
    <!-- Tell that the Camera is not mandatory to install the application -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".VectorApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light"
        tools:replace="android:allowBackup">

        <activity
            android:name=".features.MainActivity"
            android:theme="@style/AppTheme.Launcher" />

        <!-- Activity alias for the launcher Activity (must be declared after the Activity it targets) -->
        <activity-alias
            android:name=".features.Alias"
            android:targetActivity=".features.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".features.home.HomeActivity" />
        <activity
            android:name=".features.login.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <!-- Add intent filter to handle redirection URL after SSO login in external browser -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="riotx" />
                <data android:host="riotx" />
            </intent-filter>
        </activity>
        <activity android:name=".features.media.ImageMediaViewerActivity" />
        <activity android:name=".features.media.BigImageViewerActivity" />
        <activity
            android:name=".features.rageshake.BugReportActivity"
            android:label="@string/title_activity_bug_report" />
        <activity
            android:name=".features.settings.VectorSettingsActivity"
            android:label="@string/title_activity_settings"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".features.media.VideoMediaViewerActivity" />
        <activity
            android:name=".features.crypto.keysbackup.restore.KeysBackupRestoreActivity"
            android:label="@string/title_activity_keys_backup_setup" />
        <activity
            android:name=".features.crypto.keysbackup.setup.KeysBackupSetupActivity"
            android:label="@string/title_activity_keys_backup_restore" />
        <activity
            android:name=".features.crypto.keysbackup.settings.KeysBackupManageActivity"
            android:label="@string/encryption_message_recovery" />

        <activity
            android:name=".features.reactions.EmojiReactionPickerActivity"
            android:label="@string/title_activity_emoji_reaction_picker" />
        <activity android:name=".features.roomdirectory.createroom.CreateRoomActivity" />
        <activity android:name=".features.roomdirectory.RoomDirectoryActivity" />
        <activity android:name=".features.roomdirectory.roompreview.RoomPreviewActivity" />
        <activity android:name=".features.home.room.filtered.FilteredRoomsActivity" />
        <activity
            android:name=".features.home.room.detail.RoomDetailActivity"
            android:parentActivityName=".features.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.home.HomeActivity" />
        </activity>
        <activity android:name=".features.debug.DebugMenuActivity" />
        <activity android:name="im.vector.riotx.features.createdirect.CreateDirectRoomActivity" />
        <activity android:name="im.vector.riotx.features.invite.InviteUsersToRoomActivity" />
        <activity android:name=".features.webview.VectorWebViewActivity" />
        <activity android:name=".features.link.LinkHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="riot.im" />
                <data android:pathPrefix="/config/" />
            </intent-filter>
        </activity>

        <!-- Disable incoming share -->
        <activity
            android:name=".features.share.IncomingShareActivity"
            android:enabled="false"
            android:parentActivityName=".features.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.home.HomeActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".features.roomprofile.RoomProfileActivity" />

        <activity android:name=".features.signout.hard.SignedOutActivity" />
        <activity
            android:name=".features.signout.soft.SoftLogoutActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".features.permalink.PermalinkHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="matrix.to" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.roommemberprofile.RoomMemberProfileActivity"
            android:parentActivityName=".features.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.home.HomeActivity" />
        </activity>

        <activity android:name=".features.qrcode.QrCodeScannerActivity" />

        <activity android:name=".features.crypto.quads.SharedSecureStorageActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.attachments.preview.AttachmentsPreviewActivity"
            android:theme="@style/AppTheme.AttachmentsPreview" />

        <activity android:name=".features.terms.ReviewTermsActivity" />
        <activity android:name=".features.widgets.WidgetActivity" />

        <!-- Services -->

        <service
            android:name=".core.services.CallService"
            android:exported="false" />

        <service
            android:name=".core.services.VectorSyncService"
            android:exported="false" />

        <!-- Receivers -->

        <!-- Exported false, should only be accessible from this app!! -->
        <receiver
            android:name=".features.notifications.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Providers -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/riotx_provider_paths" />
        </provider>
    </application>

</manifest>