<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.vector.app">

    <application>
        <activity android:name=".features.debug.TestLinkifyActivity" />
        <activity android:name=".features.debug.DebugPermissionActivity" />
        <activity android:name=".features.debug.analytics.DebugAnalyticsActivity" />
        <activity android:name=".features.debug.settings.DebugPrivateSettingsActivity" />
        <activity android:name=".features.debug.sas.DebugSasEmojiActivity" />
        <activity android:name=".features.debug.features.DebugFeaturesSettingsActivity" />

        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />

        <!-- Used for UI tests to display the BiometricPrompt. It's normal that it appears as an error. -->
        <activity android:exported="false" android:name=".features.pin.lockscreen.tests.LockScreenTestActivity" />
    </application>

</manifest>
