<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.vector.app">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>
        <activity android:name=".features.debug.TestLinkifyActivity" />
        <activity android:name=".features.debug.DebugPermissionActivity" />
        <activity android:name=".features.debug.analytics.DebugAnalyticsActivity" />
        <activity android:name=".features.debug.settings.DebugPrivateSettingsActivity" />
        <activity android:name=".features.debug.sas.DebugSasEmojiActivity" />
        <activity android:name=".features.debug.features.DebugFeaturesSettingsActivity" />
    </application>

</manifest>
