<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.vector.app">

    <application>

        <!-- Firebase components -->
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />

        <service
            android:name=".gplay.push.fcm.VectorFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
