<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="im.vector.application">

    <application
        android:allowBackup="false"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:taskAffinity="${applicationId}.${appTaskAffinitySuffix}"
        android:theme="@style/Theme.Vector.Light"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup">

        <!-- Providers -->

        <!-- Remove WorkManagerInitializer Provider because we are using on-demand initialization of WorkManager-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <!-- We init the lib ourself in EmojiCompatWrapper -->
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                tools:node="remove" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sdk_provider_paths" />
        </provider>

        <!-- Temporary fix for Android 12. android:exported has to be explicitly set when targeting Android 12
        Do it for services coming from dependencies - BEGIN -->
        <service
            android:name="androidx.sharetarget.ChooserTargetServiceCompat"
            android:exported="false"
            tools:node="merge" />
        <!-- Temporary fix for Android 12 change - END -->

    </application>

</manifest>
