<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="im.vector.app.VectorApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:taskAffinity="${applicationId}.${appTaskAffinitySuffix}"
        android:theme="@style/Theme.Vector.Light"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/vector_app_restrictions" />

        <!-- Activity alias for the launcher Activity (must be declared after the Activity it targets) -->
        <!-- exported="true" is required to launch application -->
        <activity-alias
            android:name=".features.Alias"
            android:exported="true"
            android:targetActivity="im.vector.app.features.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>


        <!-- Providers -->

        <!-- Remove WorkManagerInitializer Provider because we are using on-demand initialization of WorkManager-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <!-- We init the lib ourself in EmojiCompatWrapper -->
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                tools:node="remove" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sdk_provider_paths" />
        </provider>

    </application>

</manifest>
