/build

# Ignore translations
**/res/values-ar
**/res/values-az
**/res/values-b+sr+Latn
**/res/values-bg
**/res/values-bn-rBD
**/res/values-bn-rIN
**/res/values-bs
**/res/values-ca
**/res/values-cs
**/res/values-cy
**/res/values-da
**/res/values-de
**/res/values-el
**/res/values-eo
**/res/values-es-rMX
**/res/values-es
**/res/values-et
**/res/values-eu
**/res/values-fa
**/res/values-fi
**/res/values-fr-rCA
**/res/values-fy
**/res/values-ga
**/res/values-gl
**/res/values-he
**/res/values-hr
**/res/values-hu
**/res/values-id
**/res/values-in
**/res/values-is
**/res/values-it
**/res/values-iw
**/res/values-ja
**/res/values-kab
**/res/values-ko
**/res/values-ku
**/res/values-lt
**/res/values-lv
**/res/values-ml
**/res/values-nb-rNO
**/res/values-nl
**/res/values-nn
**/res/values-pl
**/res/values-pt-rBR
**/res/values-pt
**/res/values-ro
**/res/values-ru
**/res/values-si
**/res/values-sk
**/res/values-sl
**/res/values-sq
**/res/values-sr
**/res/values-sv
**/res/values-szl
**/res/values-te
**/res/values-th
**/res/values-tlh
**/res/values-tr
**/res/values-tzm
**/res/values-uk
**/res/values-uz
**/res/values-vi
**/res/values-vls
**/res/values-zh-rCN
**/res/values-zh-rTW