<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--
    Required for long polling account synchronisation in background.
    If not present ACTION_REQUEST_IGNORE_BATTERY_OPTIMIZATIONS intent action won't work
    -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application>

        <receiver
            android:name="im.vector.app.fdroid.receiver.OnApplicationUpgradeOrRebootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="im.vector.app.fdroid.receiver.AlarmSyncBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="im.vector.app.fdroid.receiver.KeepInternalDistributor"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--
                This action is checked to track installed and uninstalled distributors.
                We declare it to keep the background sync as an internal
                unifiedpush distributor.
                -->
                <action android:name="org.unifiedpush.android.distributor.REGISTER" />
            </intent-filter>
        </receiver>

        <service
            android:name="im.vector.app.fdroid.service.GuardAndroidService"
            android:exported="false"
            tools:ignore="Instantiatable" />

    </application>

</manifest>
