<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <!-- Firebase components -->
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />

        <!-- Add tools:ignore="Instantiatable" for the error reported only by the CI :/ -->
        <service android:name="im.vector.app.push.fcm.VectorFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
