<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.matrix.android.provider">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <application
        android:name="org.matrix.android.MatrixApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--provider
            android:name=".MatrixProvider"
            android:authorities="mxc"
            android:enabled="true"
            android:exported="true" /-->

        <service
            android:name="org.matrix.android.authentication.MatrixAuthenticationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />

        </service>
        <activity
            android:name="org.matrix.android.authentication.MatrixAccountAuthenticatorActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            >
            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
    </application>
</manifest>
