name: Documentation

on:
  push:
    branches: [ develop ]

jobs:
  docs:
    name: Generate and publish Android Matrix SDK documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Use JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - name: Build docs
        run: ./gradlew dokkaHtml

      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./matrix-sdk-android/build/dokka/html
